@import "tailwindcss";


/* Forzar Tema Oscuro Permanente y Colores de Marca */
body {
  background-color: #121212 !important; /* Fondo gris muy oscuro (Carbón) */
  color: #D9D9D9 !important; /* Texto gris muy claro */
}

/* Títulos Principales en Verde Brillante */
h1, h2 {
  color: #99CC33 !important; 
}

/* Títulos Secundarios / Íconos destacados en Verde Esmeralda */
h3, h4 {
  color: #00A859 !important; 
}

/* Ajustes para inputs globales en el tema oscuro */
input, select, textarea {
  background-color: #1a1a1a !important;
  color: #F2F2F2 !important; /* Blanco hueso para escribir */
  border-color: #333333 !important;
}

input:focus, select:focus, textarea:focus {
  border-color: #99CC33 !important; /* Al hacer click, borde verde brillante */
}
